:root {
  --bg-primary: #EEBC1D;
  --bg-secondary: #000;
  --primary: white;
  --secondary: #EEBC1D;
}

html {
    font-family: 'Noto Sans Mono', monospace;
    color: var(--primary);
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    line-height: 1.5;
    min-height: 100svh;
    position: relative;
  }

  html, body {
    overflow-x: hidden;
  }

  /* a[target="_blank"]::after {
    background-image: url("data:image/svg+xml;utf8l<svg ");
  } */

  .background {
    width: 100vw;
    height: 100%;
    top: 0; left: 0;
    position: fixed;
    background-image: linear-gradient(#121212, #000);
    z-index: -1;
  }
  
  .dots {
    width: 100vw;
    height: 100%;
    top: 0; left: 0;
    position: fixed;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.3) 10%,
      transparent 10%
    );
    background-position: 0% 0%;
    background-size: 14px 14px;
    z-index: -1;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    color: var(--bg-primary);
    padding: 0.5rem 0;
    margin:  0 0 1rem 0;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    border-bottom: 2px var(--bg-primary) dashed;
  }

  h2 {
    text-align: center;
    color: var(--secondary);
    font-size: 1.3rem;
  }

  footer {
    padding: 20px 30px;
    color:  var(--bg-primary);
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    margin-top: 2rem;
  }

  .footer-space {
    height: calc(30px * 2 + 2rem + 1rem + 0.4rem + 18px);
  }

  footer p {
    position: relative;
    margin-top: 0;
    margin-bottom: 0.4rem;
    z-index: 2;
    color: #EEBC1D;
    mix-blend-mode: difference;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }

  .social-container {
    position: relative;
    z-index: 2;
    mix-blend-mode: difference;
  }

  /* nav styles */

  .hamburger {
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 10;
    height: 60px;
    width: 100%;
    padding-left: 1rem;
  }

  .hamburger svg {
    height: 100%;
    aspect-ratio: 1;
  }

  .hamburger .line {
    stroke: var(--bg-primary);
    stroke-width: 6;
    transition: transform .2s ease, opacity .2s;
    transform-origin: center;
  }

  .hamburger-expanded svg .line-top {
    transform: translateY(15px);
    opacity: 0; 
  }

  .hamburger-expanded svg .line-middle1 {
    transform: rotate(45deg);
  }

  .hamburger-expanded svg .line-middle2 {
    transform: rotate(-45deg);
  }


  .hamburger-expanded svg .line-bottom {
    transform: translateY(-15px);
    opacity: 0;
  }

  nav {
    flex-grow: 1;
  }

  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 0;
    overflow: hidden;
  }

  .nav-links a {
    display: block;
    text-align: left;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 200;
    /* text-transform: uppercase; */
    transition: .2s;
    position: relative;
  }

  @keyframes nav-fling {
    0% {
      padding: 10px 50px;
    }
    100% {
      padding: 10px 20px;
    }
  }

  .nav-links a:not(.highlighted):hover, .nav-links a:not(.highlighted):focus {
    transform: translateY(-2px);
    text-shadow: 0 0 5px var(--bg-primary);
    color: white;
  }

  .nav-links .highlighted:before {
    display: block;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--bg-primary);
  }

  .expanded {
    height: fit-content;
    animation: expand-links .2s ease-out;
  }

  @keyframes expand-links {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  code {
    background-color: #233;
    color: lightblue;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
  }

  .tags {
    padding-left: 0;
  }

  a {
    color: var(--secondary);
    transition: .2s ease-out;
  }
  a:hover {
    text-shadow: 0 0 1px var(--secondary);
  }

  b {
    color: gold;
  }

  .tags li, .author, .index-blog-snippet li {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
    background-color: var(--bg-primary);
    color: black;
    /* box-shadow: 3px 3px 0 var(--bg-primary); */
    margin-bottom: 0.5rem;
    border-radius: 5px;
  }

  .author {
    margin-bottom: 0;
  }

  .tags li a, .index-blog-snippet li a {
    color: black;
  }

  .tags li::before {
    content: '>>';
  }

  main {
    padding: 0 1.25rem;
  }

  article img {
    width: calc(100% - 2.5rem);
  }

  article p {
    text-indent: 1em;
  }
  ul {
    list-style-type: '> ';
  }

  /* .markdown-desc p {
    line-height: 0.5;
  } */

  .markdown-desc {
    width: 100%;
  }

  .title-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
  
  .social-container a {
    margin-right: 0.5rem;
  }

  .divider {
    border-bottom: 2px solid var(--bg-primary);
    width: 10rem;
    margin-bottom: 2rem;
  }

  .centered-divider {
    margin: 0 auto 2rem auto;
  }

  .blog-image {
    width: 100%;
    object-fit: contain;
  }

  .author a {
    color: black;
  }

  .index-blog-snippet {
    padding-left: 0;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
  }

  .index-blog-snippet li {
    width: fit-content;
    text-align: center;
  }

  header {
    height: fit-content;
    display: flex;
    flex-direction: row;
  }  

  .evo-arrow {
    fill: none;
    stroke: var(--bg-primary);
    stroke-width: 4;
    stroke-miterlimit: 10; 
  }

  .arrow-container {
    height: inherit;
    width: 44px;
    aspect-ratio: 1;
    display: none;
    overflow: hidden;
  }

  #evo-arrows {
    height: 100%;
    position: absolute;
    right: 0;
  }

  .arrow-container:hover #evo-arrows {
    animation: arrow-slide-right .3s linear infinite;
  }

  @keyframes arrow-slide-right {
    0% {
      right: 0;
    }
    100% {
      right: -100%;
    }
  }

  #evo-wip {
    display: block;
    width: 300px;
    margin: 0 auto 2rem auto;
    position: absolute;
    top: -20px;
    right: -10px;
    z-index: 1;
  }

  #evo-wip .st0 {
    fill: var(--bg-primary);
    /* filter: drop-shadow(0 0 1px orangered); */
  }

  #evo-wip .st1, #evo-wip .st2 {
    fill:none;stroke: var(--bg-primary);stroke-width:7;stroke-miterlimit:10;
  }

	#evo-wip .st1 {
    stroke-width: 7;
  }

	#evo-wip .st2 {
    stroke-width: 10;
  }

  .left-cog {
    transform-origin: 112px 102px;
    animation: cog-rotation 5s linear infinite;
  }

  .right-cog {
    transform-origin: 239px 118px;
    animation: cog-rotation 5s linear infinite reverse;
  }

  @keyframes cog-rotation {
    0% {
      rotate: 0deg;
    }
    100% {
      rotate: 360deg;
    }
  }

  /* index blog block */
  
  .blog-block-container {
    background-color: var(--bg-secondary);
    padding: 1.5rem 2rem;
    max-width: 400px;
    border-radius: 1rem;
    margin: 0 auto;
    border: 2px var(--bg-primary) solid;
  }

  .blog-block-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .blog-block-header h2 {
    text-align: left;
    color: var(--bg-primary);
    flex-grow: 1;
  }
  
  .blog-block-icon {
    min-width: 3.5rem;
  }
  
  .blog-block-divider {
    border-top: var(--bg-primary) 3px solid;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 0.5rem;
  }
  
  .blog-block-container p {
    text-align: center;
  }

  .blog-block-container p span {
    color: var(--bg-primary);
    font-size: 1.125rem;
    font-weight: 500;
  }
  
  .blog-block-container p a {
    display: inline-block;
    width: fit-content;
    font-size: 1.125rem;
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
    font-weight: 600;
    padding: 0.375rem 0.825rem;
    border-radius: 0.5rem;
  }

  .blog-item-tag {
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
    border-radius: 100vh;
    font-size: 0.8rem;
    padding: 0 1ch;
    margin: 0 2px;
  }


  @media screen and (min-width: 636px) {
    .nav-links {
      display: block;
      position: static;
      width: auto;
      background: none;
      height: 100%;
    }

    .nav-links a {
      display: inline-block;
      padding: 10px 20px;
      height: 100%;
      animation: nav-fling .3s ease;
    }

    .nav-links .highlighted:before {
      width: calc(100% - 40px);
      height: 2px;
      left: 20px;
    }

    .hamburger {
      display: none;
    }

    .arrow-container {
      display: block;
      position: relative;
    }

    .title-section {
      flex-direction: row;
      justify-content: space-between;
    }

    .markdown-desc {
      width: 50%;
    }

    .blog-image {
      width: 50%;
    }

  }