:root {
  --bg-primary: #1D2951;
  --bg-secondary: #122;
  --primary: white;
  --secondary: cyan;
}

html {
    background-color: var(--bg-secondary);
    font-family: 'Victor Mono', monospace;
    font-size: 0.8em;
    color: var(--primary);
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 0 1rem;
    line-height: 1.5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    color: #f1f5f9;
    background-color: var(--bg-primary);
    padding: 0.5rem 0;
    margin:  0 0 1rem 0;
    font-size: 2.5rem;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  footer {
    background-color: var(--bg-primary);
    padding: 20px 30px;
    color: white;
  }

  footer p {
    margin-top: 0;
    margin-bottom: 0.4rem;
  }

  /* nav styles */

  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: var(--bg-primary);
  }


  .nav-links {
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: var(--bg-primary);
    display: none;
    margin: 0;
  }

  .nav-links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .nav-links a:hover, .nav-links a:focus {
    background-color: var(--bg-primary);
  }

  .expanded {
    display: unset;
  }

  code {
    background-color: #1F3F3F;
    color: lightblue;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
  }

  .tags {
    padding-left: 0;
  }

  .tags li {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .tags li::before {
    content: '>>';
  }

  a {
    color: cyan;
  }

  b {
    color: gold;
  }

  .blog-item {
    list-style-type: '> ';
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      display: block;
      position: static;
      width: auto;
      background: none;
    }
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }

    .hamburger {
      display: none;
    }

  }