---
import BlogItem from '../components/BlogItem.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'TTPHB>>EVO';

const allPosts = await Astro.glob('../pages/posts/*.md');
let latestPost = allPosts[0];
allPosts.filter(function(a, b, c) { if (a.frontmatter.pubDate > latestPost.frontmatter.pubDate) latestPost = a; });
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Read the latest blog post!</h2>
    <ul class="index-blog-snippet"><BlogItem url={latestPost.url} title={latestPost.frontmatter.title} date={latestPost.frontmatter.pubDate}/></ul>
    <svg version="1.1" id="evo-wip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 330 205" style="enable-background:new 0 0 330 205;" xml:space="preserve">
<g>
	<path class="st0 left-cog" d="M168.4,46.5l-23.7-16.3l-13.1,13c-4.1-1.3-8.3-2.2-12.5-2.7l-6.7-17.2l-28.3,5.2l-0.1,18.4
		c-3.8,1.9-7.4,4.3-10.7,7l-16.9-7.4L40,70.2l13,13.1c-1.3,4.1-2.2,8.3-2.7,12.5l-17.2,6.7l5.2,28.3l18.4,0.1
		c1.9,3.8,4.3,7.4,7,10.7l-7.4,16.9L80,174.9l13.1-13c4.1,1.3,8.3,2.2,12.5,2.7l6.7,17.2l28.3-5.2l0.1-18.4c3.8-1.9,7.4-4.3,10.7-7
		l16.9,7.4l16.3-23.7l-13-13.1c1.3-4.1,2.2-8.3,2.7-12.5l17.2-6.7l-5.2-28.3L168,74.1c-1.9-3.8-4.3-7.4-7-10.7L168.4,46.5z
		 M131.4,74.8c15.3,10.5,19.2,31.5,8.6,46.8s-31.5,19.2-46.8,8.6s-19.2-31.5-8.6-46.8S116.2,64.3,131.4,74.8z"/>
	<path class="st0 right-cog" d="M287,83.5l-15.3-15l-11.3,7.9c-2.8-1.5-5.8-2.7-8.8-3.5l-2.7-13.5l-21.4,0.2l-2.4,13.5c-3,0.9-6,2.2-8.8,3.7
		l-11.4-7.6l-15,15.3l7.9,11.3c-1.5,2.8-2.7,5.8-3.5,8.8l-13.5,2.7l0.2,21.4l13.5,2.4c0.9,3,2.2,6,3.7,8.8l-7.6,11.4l15.3,15
		l11.3-7.9c2.8,1.5,5.8,2.7,8.8,3.5l2.7,13.5l21.4-0.2l2.4-13.5c3-0.9,6-2.2,8.8-3.7l11.4,7.6l15-15.3l-7.9-11.3
		c1.5-2.8,2.7-5.8,3.5-8.8l13.5-2.7l-0.2-21.4l-13.5-2.4c-0.9-3-2.2-6-3.7-8.8L287,83.5z M256.3,99.6c9.9,9.7,10.1,25.5,0.4,35.4
		c-9.7,9.9-25.5,10.1-35.4,0.4s-10.1-25.5-0.4-35.4C230.5,90.2,246.4,90,256.3,99.6z"/>
</g>
</svg>
</BaseLayout>