---

const { postTitle, postUrl, postDate } = Astro.props;

---

<div class='blog-block-container'>
    <div class='blog-block-header'>
      <div class='blog-block-icon'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.05 70.11">
          <line x1="11.93" y1="35.21" x2="21.58" y2="35.21" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"/>
          <line x1="9.93" y1="51.95" x2="24.98" y2="51.95" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"/>
          <g>
            <line x1="10.44" y1="43.58" x2="15.85" y2="43.58" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"/>
            <line x1="19.49" y1="43.58" x2="33.97" y2="43.58" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="3"/>
          </g>
          <path d="m38.62,30.46c.61,1.77.85,3.54.84,5.3-.06,10.95-9.83,21.9-2.64,32.85H4.14c-9.15-13.93,9.15-27.86,0-41.79h18.36" fill="none" stroke="#edbc1d" stroke-miterlimit="10" stroke-width="3"/>
          <g>
            <path d="m35.46,23.22c7.95-3.78,11.32-13.27,7.54-21.22-18.74,8.91-26.68,31.29-17.77,50.02" fill="none" stroke="#edbc1d" stroke-miterlimit="10" stroke-width="3"/>
            <path d="m39.66,21.22c3.17,6.66-4.51,16.92-17.16,22.94" fill="none" stroke="#edbc1d" stroke-miterlimit="10" stroke-width="3"/>
          </g>
        </svg>
      </div>
      <h2>CHECK OUT THE LATEST BLOG POST!</h2>
    </div>
    <div class='blog-block-divider'></div>
    <p><span>{`${new Date(postDate).toLocaleDateString('en-GB')}>>`}</span><a href={postUrl}>{postTitle}</a></p>
  </div>

