---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";

---

<header>
    <div class="arrow-container">
        <svg version="1.1" id="evo-arrows" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 120 60">
            <polyline class="evo-arrow" points="82.2,62.6 114.8,30 82.2,-2.6 "/>
            <polyline class="evo-arrow" points="49.6,62.5 82.2,29.9 49.6,-2.7 "/>
            <polyline class="evo-arrow" points="16.9,62.6 49.5,30 17,-2.6 "/>
        </svg>
    </div>
    <nav><Hamburger /><Navigation /></nav>
</header>