---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";

---

<header>
    <div class="arrow-container">
        <svg version="1.1" id="evo-arrows" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 165 60">
            <polyline class="evo-arrow" points="127.3,62.6 159.9,30 127.3,-2.6 "/>
            <polyline class="evo-arrow" points="97.3,62.6 129.9,30 97.3,-2.6 "/>
            <polyline class="evo-arrow" points="67.3,62.6 99.9,30 67.3,-2.6 "/>
            <polyline class="evo-arrow" points="37.3,62.6 69.9,30 37.3,-2.6 "/>
            <polyline class="evo-arrow" points="7.3,62.6 39.9,30 7.3,-2.6 "/>
        </svg>
    </div>
    <nav><Hamburger /><Navigation /></nav>
</header>