---
const { icon, url, name } = Astro.props;
---

<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<a href={url}><box-icon type='logo' name={icon} title={name}></box-icon></a>