---
const { platform, username } = Astro.props;
---

<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

<a href={`https://${platform}.com/${username}`}><box-icon type='logo' name={platform} color="white"></box-icon></a>